body{
    margin: 0;
}

.container-fluid{
    background-color: #104E8B;
}

.container-fluid > #nav{
    background-color: #104E8B;
}
            
#nav > .navbar-header > .navbar-brand{
    text-decoration: none;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    margin: 35px;
    margin-top: 40px;
    font-size: 35px;
    font-weight: 550;    
    color: #fff;
}

#nav > .navbar-header > .navbar-brand :hover{
    color: #fed136;
}
           
#menu{
    list-style: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
             
#menu li{
    float: right;
    width: 90px;
    margin-top: 35px; 
}

#menu li :hover{
    color: #fed136;
}

#menu li a{
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 100%;
    font-weight: 500;
}
        
a img{
     width: 50px;
     padding: 5px;
     margin-left: 190px;
     margin-top: -45px;
}

#divPesquisa{
     width: 320px;
     margin-right: 0px;
     margin-left: 0px;
     margin-top: 55px;
     float:left;
     height:35px;  
     margin-top: 45px;
}

#txtPesquisa{
     padding-left:5px;
     font-size:15px;    
     height:32px;
     width:250px;
}

#btnPesquisa{
     width: 20px;
}

#menuresponsivo{
     font-size: 12px;
     right: 0;
     padding: 13px;
     text-transform: uppercase;
     color: white;
     border: 0;
     background-color: #4F94CD;
     font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#menuresponsivo > .icon-bar{
    position: relative;
}
        
#perfil{
     margin-left: 30px;
     margin-top: 20px;
}

#icone-user{
     width: 200px;
     margin-left: 20px;
}
        
section{
     font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;     
}

h5 b{
    margin-left: 60px;
}

#lista-amigos{
    margin-left: 35px;
    text-decoration: underline;
    font-weight: bold;
}

#semamigos{
    margin-left: -1100px;
}
 #linha-vert{
     height: 500px;  
     border-left: 2px solid;
     margin-top: -400px;
     margin-left: 290px;
     color: rgb(157, 154, 150);
}
        
#metas{
     font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     margin-top: -500px;
     margin-left: 350px;
}

#solicitar{
    font-weight: bold;
    float: right;
    margin-right: 70px;
    margin-top: -40px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
}

/*
#buscar {
     width: 200px;
     position: relative;
     height: 10px;
}*/

#caixatexto {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 250px;
    padding-left: 60px;
    margin-top: 50px;
    margin-left: 30px;
    height: 30px;
    border-radius: 10px;
    border-bottom-color: white;
    border-left-color: white;
}

#caixatexto, #pesquisar {
    padding: 10px;
}

#pesquisar{
    position: absolute;   
    top: 0; 
    left: 0;
    background: none;
    border: none;
    margin-left: 600px;
    margin-top: 45px;
}

footer {
   padding: 25px 0;
   text-align: center;
   margin-top: 200px;
}

footer span {
   font-size: 90%;
   line-height: 40px;
   text-transform: none;
   font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
